<div class="box qset-list">
  <h5 class="pull-left">Subsets of <%= @qset.name %></h5>
  <br> <br>
  <ul class="qset-list-compressed">
    <% @qsets.each_with_index do |qset, index| %>
      <li>
        <%= link_to qset.name, qset %>
        <span class="pull-right badge">
          <%= @question_counts[qset.id] %>
        </span>
      </li>
    <% end %>
  </ul>
  <% if can? :create, Qset %>
    <a class="btn btn-primary btn-sm"
       id="new-qset"
       data-toggle="modal"
       data-target="#modal-new-qset">
      New subset
    </a>
  <% end %>
</div> <!-- .qset-list -->

