.prettyform {
  .container {
    width: 50%;
    margin-top: 60px;
    // prevents parent default margins and padding from squeezing
    // the container too small to be useful on a small screen
    min-width: 220px;
  }

  .form-elem {
    font-size: 17px;
    margin: 8px;
    // padding: 18px 12px;
    &:focus {
      // box-shadow: 
      //   2px 0 $turq,
      //   -2px 0 0 $turq,
      //   0 2px 0 $turq,
      //   0 -2px 0 $turq;
      // border: none;
      // border-color: $turq;
      // border-width: 2px;
      // box-shadow: none;
      // transition: 0.3s ease-in-out;
    }
    border-radius: 5px;
    &:last-child {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }
    
  }
  select {
    margin: 8px;
    font-size: 17px;
  }
}
.form-control {
  &:last-child {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
  }
  margin: 10px;
  width: 80%;
  border: 2px solid #bdc3c7;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  &:focus{
    border-color: $blue-reg;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  border-radius: 5px;    
}


.center-form {
  margin: 0 auto;
  width:85%;
  margin-bottom: 1em;
}

.maxwidth-box {
  margin: 0 auto;
  max-width: 500px;
}

.full-width-container {
  .form-control {
    width: 97%;
  }
}

#signin {
  width: 100%;
}

.fixed-title {
  font-size: 2em;
  font-weight: bold;
}

.user-link {
  margin-top: 10px;
}


#new-password {
  width: 100%;
}

#new-user {
  width: 100%;
  margin-top: 10%;
}

.styled-select select {
   border: 2px solid #bdc3c7;
   background: transparent;
   line-height: 1.467;
   padding: 8px 12px;
   height: 42px;
   width: 268px;
   font-size: 15px;
   border-radius: 0;
   height: 42px;
}
