// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.response {
  .yes {
    text-align: right;
  }
  a {
    border-radius: 50%;
    text-align: center;
    color: white;
    // size the buttons and fa icons appropriately for small and large screens
    @media screen and (max-width: 360px) {
      width: 20vw;
      height: 20vw;
      font-size: 12vw;
    }
    @media screen and (min-width: 361px) {
      width: 1.8em;
      height: 1.8em;
      font-size: 4em;
    }
    &:hover {
      color: white;
    }
  }
  body {
    color: white;
  }
}

.answers {
  .correct-container {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    .correct {
    background: #FFFFFF;
    color: black;
    padding: 20px;
    border-radius: 5px;
    
    } 
  }
  
}