@import url(//fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,200,700,800);

body {
  background-color: #f0f0f0;
  font-family: $lato;
  color: $gray;
}

h1, h2, h3 {
  font-family:$lato;
  font-weight:400;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition: background-color .4s linear, color .4s linear;
  -o-transition: background-color .4s linear, color .4s linear;
  -ms-transition: background-color .4s linear, color .4s linear;
  transition: background-color .4s linear, color .4s linear;
  text-decoration: none;
    color: inherit;
    &:hover {
      color:$blue-reg;
      text-decoration: none;
    }

}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

// removes extra padding in child bootstrap columns
.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.valign {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center; /* align horizontal */
  -webkit-align-items: center;
  align-items: center; /* align vertical */
}

.col-centered{
    float: none;
    margin: 0 auto;
}

// styling for main box component
.box {
  background: #fff;
  margin: 10px;
  border: solid 1px #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

// custom spacers
.spacer10 {
  height: 10px;
}

.spacer_nav {
  height: 51px;
}

.hline-w {
  border-bottom: 2px solid #ffffff;
  margin-bottom: 25px;
}

.navbar-inverse {
  background-color: $blue-reg;
  border-color: $blue-reg;
  margin-bottom: 0;
  .navbar-brand {
    color: white;
    font-family: $raleway;
    font-weight: 900;
  }
  .navbar-right {
    margin-right: 15px;
  }
  .navbar-header {
    margin-left: 15px;
  }
  .navbar-nav > li > a {
    color: white;
    &:hover, &:focus {
      color: white;
    }
    &.offset {
      color: white;
      &:hover, &:focus {
        color: white;
      }
    }
  }
}

.one-edge-shadow {
  -webkit-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 1px 10px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 1px 10px 0px rgba(50, 50, 50, 0.3);
}



