// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// TO-DO: Media queries: Make generate q button left for desktop, center for mobile
// Make cover photo height longer for desktop

.askup-header {
  background-image: image-url('orange.jpg');
  background-size: cover;
  height: 450px;
  color: white;
  .cell{
    padding-left: 0;
    padding-right: 0;
    float: left;
    margin-left: 0% !important;
  }
  .question-cell{
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      float: left;
      margin-left: 0% !important;
      margin-top: 40px;
  }
  h1 {
    font-family: $raleway;
    font-weight: 800;
    letter-spacing: -0.5px;
    font-size: 120px;
    span {
      color: $blue-reg;
    }
  }

  h3 {
    font-size: 28px;
    margin-top: -15px;
  }
  @media (max-width: 768px) {
    h1 {
      font-size: 60px;
    }
    h3 {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .askup-header {
    padding-top: 10px;
    padding-left: 40px;
    height:240px;
  }
}

.intro-col {
  padding: 30px;
  .fa {
    font-size: 50px;
    color: $blue-reg;
  }
}

.twrap {
  background: image-url('t-back.jpg') no-repeat center top;
  margin-top: 0px;
  padding: 60px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  i {
    font-size: 50px;
    color: white;
    margin-bottom: 25px;
  }
  p {
    color: white;
    font-size: 15px;
    line-height: 30px;
  }
}

.footerwrap {
  padding: 40px;
  background: $gray;
  p {
    color: #bfc9d3;
  }
  h4 {
    color: white;
  }
}

// fixes default rounded corners on jumbotron
.container-fluid .jumbotron {
    border-radius: 0px;
}