.all-mine-other-filter {
  margin-right: 25px;  // aligns with right side of question list
}

// (All-mine-filter relocation at different screen sizes)
// On small screens (bootstrap xs) show all-mine-other filter
// just above the question list, since it wraps onto its own .row
#all-mine-filter-container-xs {
  display: none;
}
@media only screen and (max-width: 767px) {
  #all-mine-filter-container-xs {
    display: block;
  }
  #all-mine-filter-container {
    display: none;
  }
}
// End of (All-mine-filter relocation at different screen sizes)

ul.qset-list-compressed {
  list-style: none;
  padding-left: 10px;
}

.btn-div{
  margin-top:1.2em;
}

.reveal_btn {
  float:right;
  text-align: right;
}

.full-width-container {
  width: 100%;
  margin-top: 0px;
}

@media (min-width: 992px) {
  .full-width-container {
    margin-top: 60px;
  }
}

.newquestion, .editquestion {
  textarea {
    height: 110px;
  }
  .box {
    min-height: 80%;
  }
}

.title-no-margin {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0em;
}

.shortcut-button-link {
  padding: 0;
}

.shortcut-button-glyphicon {
  color:black;
  &:hover {
    color: gray;
  }
}

.modal-body-social{
  padding:40px 50px;
}

.modal-header-social{
  padding:35px 50px; 
  background-color: #00b3fe; 
  color: #FFFFFF;
}

.underlined-link {
  cursor: pointer;
  text-decoration: underline;
}

.question-voting {
  float: left;
  margin: 12px 10px 0px 10px;
}

.downvote-button, .upvote-button {
  color: black;
  cursor: pointer;
  display: block;
}

.net-votes {
  float: left;
  margin: 0px 10px 0px 10px;

  p {
    font-size: 24px;
    text-align: center;
    margin: 12px 0 0 0;
  }
}

.question-content {
  cursor: default;
  float: left;
  font-size: 24px;
  width: 100%;
  word-wrap: break-word;
  // right- and top-align edit/delete icons
  .actions {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.qset-list {
  cursor:default;  // cursor won't change to caret/text insert over badges
}

.col-sm-6 {
  width: 50%; /* override base responsive css that removes this when width < 768px */
}
